.nav-link.active {
    font-weight: 700;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.post {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 100%;
}

.post-description {
    padding: 10px;
}

.post-author img {
    width: 40px;
    border-radius: 50%;
}

.post-author a {
    text-decoration: none;
}

.post-title {
    text-decoration: none;
    font-size: 18px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.post-short-description {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.page-link.current {
    color: grey;
    cursor: not-allowed;
}
