*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Dancing Script', cursive; */
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

/* Class chung */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  /* margin-left: -20px;
  margin-right: -20px; */
}

.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.col-1 {
  width: 4.17%;
}

.col-2 {
  width: 8.33%;
}

.col-3 {
  width: 12.5%;
}

.col-4 {
  width: 16.67%;
}

.col-5 {
  width: 20.8%;
}

.col-6 {
  width: 25%;
}

.col-7 {
  width: 29.17%;
}

.col-8 {
  width: 33.33%;
}

.col-9 {
  width: 37.5%;
}

.col-10 {
  width: 41.7%;
}

.col-11 {
  width: 45.9%;
}

.col-12 {
  width: 50%;
}

.col-13 {
  width: 54.17%;
}

.col-14 {
  width: 58.33%;
}

.col-15 {
  width: 62.5%;
}

.col-16 {
  width: 66.67%;
}

.col-17 {
  width: 70.8%;
}

.col-18 {
  width: 75%;
}

.col-19 {
  width: 79.17%;
}

.col-20 {
  width: 83.33%;
}

.col-21 {
  width: 87.6%;
}

.col-22 {
  width: 91.7%;
}

.col-23 {
  width: 95.9%;
}

.col-24 {
  width: 100%;
}

[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/* Chi tiet */

/* Header */
.top-header {
  padding: 10px 0px;
  font-size: 14px;
  background-color: #fef7f6;
}
.top-header-left {
  padding: 0px 15px;
  font-size: 11px;
}
.top-header-right {
  padding: 0px 15px;
  font-size: 11px;
}
.top-header-left span:first-child {
  padding-right: 15px;
}
.top-header-right span {
  padding-right: 15px;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 90px;
}
.navbar-menu {
  width: 60%;
  font-size: 13px;
  font-weight: 500;
  justify-content: space-between;
}
.dropdown {
  display: flex;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 15%;
  background-color: white;
}
.dropdown-button:hover {
  color: #ff5353;
  transition: 0.5s;
}
.dropdown-content a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #f9f9f9;
  color: #ff5353;
  transition: 0.5s;
}
.sidebar-container {
  width: 100%;
  justify-content: space-between;
}
.sidebar-item {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.sidebar-item:hover {
  color: #ff5353;
  transition: 0.5s;
}
.sidebar-item .item-count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0%;
  right: 0%;
  background-color: #ff5353;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
}

/* Main */
* h3 {
  font-size: 36px;
}
* .section-title {
  margin: 50px 0px;
}
/* banner 1*/
.banner1 {
  width: 100%;
  background-image: url(./pictures/bg-1.jpg);
}
.banner-container {
  width: 100%;
  height: 100%;
}
.banner1 .banner-content {
  width: 70%;
}
.banner1 .banner-content span {
  color: #565656;
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.banner1 .banner-content h1 {
  color: black;
  font-size: 58px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 45px;
}
.banner1 .banner-content a {
  padding: 20px 50px;
  background-color: #ff5353;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  color: white;
}
.banner1 .banner-content a:hover {
  background-color: white;
  color: #0056b3;
  transition: 0.5s;
}
/* feat-product */
.feat-product {
  width: 100%;
}
.product-image {
  position: relative;
  display: flex;
  justify-content: center;
}
.action {
  position: absolute;
  bottom: 15%;
  height: auto;
}
.action a {
  opacity: 0;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}
.action a span {
  position: relative;
  top: 25%;
}
.action a:hover {
  background-color: #ff5353;
}
.action a:hover span {
  color: white;
}
.product-image:hover .action a {
  opacity: 1;
  display: inline-block;
  transition: 0.5s;
}

.product-content {
  margin-top: 20px;
}
.product-name {
  color: #888888;
  font-weight: 400;
}
.product-content span {
  color: #ff5353;
  font-size: 13px;
}
.product-content .price {
  font-size: 18px;
  font-weight: 500;
}
/* banner 2 */
.banner2 {
  width: 100%;
}
.banner2 .banner-container {
  width: 100%;
  height: 100%;
  background-color: #eae2d8;
}
.banner2 .banner-content {
    width: 70%;
}
.banner2 .banner-content h1{
    font-family: 'Dancing Script', cursive;
    font-size: 58px;
    margin-bottom: 20px;
}
.banner2 .banner-content h4{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 45px;
}
.banner2 .banner-content a {
    padding: 20px 50px;
    background-color: #ff5353;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    color: white;
}
.banner2 .banner-content a:hover {
    background-color: white;
    color: #0056b3;
    transition: 0.5s;
}